.carousel_inner{
	position: relative; 
	width: 100%; 
	overflow: hidden; 
	margin:0; 
	text-align: left; 
}
.carousel_inner ul {
	position:relative;
	left:0px; /* important (this should be negative number of list items width(including margin) */
	list-style-type: none; /* removing the default styling for unordered list items */
	margin: 0px;
	padding: 0px;
	width:9999px;
}
.carousel_inner ul li{
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0;
	position:relative;
	overflow:hidden;
}