
@font-face {
    font-family: 'ruda';
    src: url('ruda-regular.eot');
    src: url('ruda-regular.eot?#iefix') format('embedded-opentype'),
         url('ruda-regular.woff2') format('woff2'),
         url('ruda-regular.woff') format('woff'),
         url('ruda-regular.ttf') format('truetype'),
         url('ruda-regular.svg#rudaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ruda';
    src: url('ruda-bold.eot');
    src: url('ruda-bold.eot?#iefix') format('embedded-opentype'),
         url('ruda-bold.woff2') format('woff2'),
         url('ruda-bold.woff') format('woff'),
         url('ruda-bold.ttf') format('truetype'),
         url('ruda-bold.svg#rudabold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'unica_oneregular';
    src: url('unicaone-regular.eot');
    src: url('unicaone-regular.eot?#iefix') format('embedded-opentype'),
         url('unicaone-regular.woff2') format('woff2'),
         url('unicaone-regular.woff') format('woff'),
         url('unicaone-regular.ttf') format('truetype'),
         url('unicaone-regular.svg#unica_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}