/* CSS Document */
@import url(fuentes/fuentesadministrador.css);


body{
	margin:0;
	 padding:0;
	 background:#235898;
	 text-align:center;
	 min-width:1000px;
	}
#cajaindex{
 background:#FFFFFF;
  width:560px;
  display:inline-block;
  padding:20px;
  border-radius:0 0 1em 1em;
  padding-bottom:0;
  margin-bottom:150px;
}
#cajaindex h1{
 color:#8BA238;
   font-family: 'ruda';
  font-size:30px;
  margin:0;
  padding:0;
  text-align:right;
  font-weight:normal;
  text-transform:uppercase;
  line-height:28px;
}
#cajaindex h1 strong{
 font-weight:700;
  display:block;
}
#cajaindex #logoindex{
	width:270px;
	 display:inline-block;
	 vertical-align:middle;
	}
#cajaindex #formulario{
	width:280px;
	 display:inline-block;
	 vertical-align:middle;
	} 
#cajaindex #formulario .grupo_login{
 display:block;
  text-align:right;
   font-family: 'unica_oneregular';
  color:#235898;
  font-size:18px;
  padding-top:10px;
  }
#cajaindex #formulario .grupo_login input{
 border:1px #235898 solid;
  font-family: 'ruda';
  padding:5px;
  width:150px;
  }
#cajaindex #formulario .olvido,#cajaindex #formulario .boton_login{
 text-align:right;
}
#cajaindex #formulario .olvido a{
 color:#8BA238;
  font-family: 'ruda';
  font-size:12px;
  text-align:right;
   }
#cajaindex #formulario .boton_login input{
	background:#235898;
	font-family: 'unica_oneregular';
	 padding:5px;
	 color:#FFFFFF;
	 font-size:20px;
	 text-transform:uppercase;
	 display:inline-block;
	 border:0;
	 margin-top:5px;
	 padding-left:40px;
	 padding-right:40px;
	 width:162px;
	 text-align:center;
	 cursor:pointer;
	 }
#cajaindex #formulario .boton_login input:hover{
 background:#8BA238;
}
#informacionindex{
 text-align:center;
  position:absolute;
  bottom:0;
  width:100%;
  padding-bottom:15px;
  font-family: 'ruda';
  color:#FFFFFF;
  font-size:14px;
  z-index: -1;
}
#barra_panel{
 background:#8BA238;
  padding:10px;
  display:block;
  padding-left:230px;
  text-align:right;
  font-family: 'ruda';
  color:#FFFFFF;
  -webkit-box-shadow: 0 0 5px 0 #000000;
  box-shadow: 0 0 5px 0 #000000;
  }
#barra_panel #titulopanel{
 display:table-cell;
  vertical-align:middle;
  width:90%;
  text-align:left;
  padding:10px;
  font-size:25px;
  text-transform:uppercase;
  font-family: 'unica_oneregular';
}
#barra_panel #bienvenida{
 display:table-cell;
  vertical-align:middle;
  ;
  width:250px;
  padding:10px;
  text-transform:uppercase;
  font-size:18px;
}
#barra_panel h1{
 font-size:18px;
  display:table-cell;
  vertical-align:middle;
  width:200px;
  padding:10px;
  font-weight:normal;
  line-height:18px;
  margin:0px;
  padding:0px;
  padding-left:30px;
  text-transform:uppercase;
}
#bonones_panel{
 background:#FFFFFF;
  width:200px;
  height:100%;
  overflow:auto;
  position:absolute;
  top:0px;
  left:0px;
   -webkit-box-shadow: 0 0 5px 0 #000000;

box-shadow: 0 0 5px 0 #000000;
 }
#bonones_panel .logo_panel{
 width:80%;
}
#bonones_panel ul{
	list-style:none;
	 margin:0px;
	 padding:0px;
	 margin-top:5px;
	 border-top: 2px #8BA238 solid;
	 }
#bonones_panel ul li{
 display:block;
}
#bonones_panel ul li a{
 color:#235898;
  display:block;
  font-family: 'ruda';
  font-size:14px;
  padding:10px;
  border-bottom:1px #CCCCCC solid;
  margin-bottom:1px;
  cursor:pointer;
  }
#bonones_panel ul li a:hover{
 color:#8BA238;
}
#contenido_panel{
 display:block;
  padding-left:200px;
}
#contenido_panel #contenido_general{
    background:#FFFFFF;
    padding:20px;
    min-height:400px;
    -webkit-box-shadow: 0 0 5px 0 #000000;
    margin-bottom: 70px;
    box-shadow: 0 0 5px 0 #000000;
}
#botones2_panel{
 position:fixed;
  bottom:0;
  right:10px;
  padding:5px;
  padding-bottom:0;
  border-radius:1em 1em 0 0;
  background:#FFFFFF;
  -webkit-box-shadow: 0 0 5px 0 #000000;
box-shadow: 0 0 5px 0 #000000;
z-index: 10;
}
#botones2_panel ul{
 list-style:none;
  margin:0px;
  padding:0px;
}
#botones2_panel ul li{
 display:table-cell;
}
#botones2_panel ul li img{
 width:60px;
  height:auto;
}
#botones2_panel ul li{
 border-left: 2px solid #235898;
  padding-left:4px;
  padding-right:4px;
  }
#botones2_panel ul li:nth-child(1){
 border-left:0;
}


/* Formularios */

.mensaje_administrador{
 font-family: 'unica_oneregular';
  background:#FFFFFF;
  font-size:20px;
  padding:20px;
  color:#FF0004;
  text-transform:uppercase;
  border-radius:5em;
  border:1px #CCCCCC solid;
  }

/*crear*/

.formulario_crear{
 width:650px;
  display:inline-block;
  margin-top:20px;
}
.caja_formulario_crear{
 width:315px;
  display:inline-block;
  padding-top:10px;
  padding-bottom:10px;
  margin:3px;
}
.caja_formulario_crear label{
 display:block;
  text-align:left;
  font-family: 'unica_oneregular';
  color:#235898;
  text-transform:uppercase;
}
.caja_formulario_crear input[type="text"],.caja_formulario_crear input[type="email"],.caja_formulario_crear input[type="password"], .caja_formulario_crear select{
 display:block;
  width:100%;
  font-family: 'ruda';
  text-align:center;
  padding-top:3px;
  padding-bottom:3px;
}
.caja_formulario_crear.textarea{
 width:640px;
}
.caja_formulario_crear.textarea textarea{
	display:block;
	 width:100%;
	 font-family: 'ruda';
	 text-align:center;
	 padding-top:3px;
	 padding-bottom:3px;
	 resize:none;
	}
.botones_formularios{
	width:650px;
	 text-align:right;
	}
.botones_formularios a,.botones_formularios input[type="submit"],.botones_formularios input[type="buttom"] , .botonsolito {
 display:inline-block;
  padding:5px;
  background:#235898;
  color:#FFFFFF;
  font-family: 'unica_oneregular';
  border:0px;
  cursor:pointer;
  padding-left:0px;
  padding-right:0px;
  width:150px;
  font-size:15px;
  text-transform:uppercase;
  text-align:center;
  }


/* listar */

.tabla_listar_administrador{
	font-family: 'ruda';
	 border:0px;
	 font-size:14px;
	 display:inline-block;
	}
.tabla_listar_administrador tr{
 text-align:center;
  margin:0px;
  padding:0px;
}
.tabla_listar_administrador tr:nth-child(2n){
 background:#CCCCCC;
}
.tabla_listar_administrador tr:nth-child(2n+1){
 background:#A4D0FF;
}
.tabla_listar_administrador tr:nth-child(2){
 background:#EEEEEE;
  font-family: 'unica_oneregular';
  font-size:16px;
  text-transform:uppercase;
  color:#FFFFFF;
}
.tabla_listar_administrador tr:nth-child(2) td{
 border-bottom:1px #CCCCCC solid;
}
.tabla_listar_administrador tr:nth-child(1){
 background:#EEEEEE;
}
.tabla_listar_administrador tr:hover{
 background:#CCFFD0;
}
.tabla_listar_administrador tr:nth-child(2):hover,.tabla_listar_administrador tr:nth-child(1):hover{
 background:#EEEEEE;
}
.tabla_listar_administrador tr td{
padding:5px;
margin:0;
}
.thumbnail-administrator{
  margin-top: 10px;
  max-height: 100px;
  max-width: 100%;
}

.row-administrator{
  display: block;
  text-align: left;
  border-bottom:1px #CCCCCC solid; 
  background: #EEEEEE;
  padding-top: 5px;
  padding-bottom: 5px;
}
.row-administrator:hover{
  background:#EAF8FF;
}
.error-login{
  background: #F4B9B2;
  padding: 5px;
  text-align: center;
  border-radius:0.5em;
  margin-bottom: 10px;
}
.table-administrator{
  font-size: 14px; 
}
.table-administrator thead{
  font-weight: 700;
}
.box_color{
  border-radius: 5em;
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.botones-registros .btn{
  margin: 5px;
}

.margen_boton{
  margin-top: 5px;
}

.oculto{
  display: none;
}


.imagen_pregunta img{
  height: 200px;
  width: inherit;
}

.tabla_pad td{
  padding:5px;
}