@import url(../fuentes/fuentes.css);
*{
	 font-family: 'open_sans';
}
body{
	margin:0;
	padding: 0;
}

header{
	border-top:10px solid #00A45F;
	border-bottom:5px solid #00A45F;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 130px;
	padding-top: 5px;
	background: rgba(255,255,255,1);
	z-index: 9;
}
header .logo{
	max-width: 100%;
	height: 100px;
}

header .perfil{
	display: block;
	height: 70px;
	border-radius: 10em;
}
.foto-header{
	height: 50px;
}

.abrir-menu{
	font-size: 20px;
	text-align: right;
	padding:10px;
	padding-top: 45px;
	color: #00A45F;
	display: none;
}
.cerrar-menu{
	display: none;
	font-size: 20px;
	text-align: right;
	padding:10px;
	color: #FFFFFF;
	border-bottom: 1px #CCCCCC solid;
}
.cerrar-menu i, .abrir-menu i{
	margin-right: 8px;
}
header nav{
	text-align: right;
}
header nav ul, header nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
header nav ul li.oculto{
	display: none;
}
header nav ul li a{
	background: #00A45F;
	min-width: 100px;
	padding: 15px;
	display: block;
	text-align: center;
	color: #FFFFFF;
	border-radius: 0.5em;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
header nav ul li:hover a{
	background: #0071BC;
	color: #FFFFFF;
	text-decoration: none;
	-webkit-box-shadow:inset 0 0 10px 0 rgba(255,255,255,1);
	box-shadow:inset 0 0 10px 0 rgba(255,255,255,1);
}
header nav ul li:hover ul li a{
	-webkit-box-shadow: none;
	box-shadow: none;
}

header nav ul li ul{
	padding-bottom: 10px;
	background: #0071BC;
	position: absolute;
	display: none;
	width: 100%;
	top:100%;
	margin-top: -8px;
	border-radius: 0 0 0.5em 0.5em;
	z-index: 10;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
header nav ul li:hover ul{
	display: block;
}
header nav ul li ul li{
	display: block;
}
header nav ul li ul li a{
	padding: 5px;
	border-radius: 0;
}
header nav ul li ul li a:hover{
	background: #00A45F;
}
header nav ul li a img{
	text-align: center;border-radius: 0;
}

.perfil a{
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	color: #00A45F;
	font-size: 16px;
	font-weight: 300;
}
.perfil a.salir{
	color: #FF0000;
}

.main-content{
	margin-top: 130px;
	min-height: 500px;
}

#slider-home{
	margin-top:0px;
	position: relative;
	overflow: hidden;
}


.botonera-lateral{
	position: absolute;
	min-width: 100px;
	z-index: 8;
	top:0;
	left: 0;
}

.botonera-lateral a{
	min-width: 40px;
	height: 25%;
	position: relative;
	display:inline-block;
	color: #FFFFFF;
	background: #0071BC;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.botonera-lateral a img , .botonera-lateral a span{
	display:inline-block;
	vertical-align: middle;
}
.botonera-lateral a img{
	margin: 20px;
	max-width: 100%;
	max-height: 100%;
}
.botonera-lateral a span{
	position: relative;
	overflow: hidden;
	width: 0px;
	visibility: hidden;
	border-left: 1px solid #FFFFFF;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	font-size: 18px;
	font-weight: 700;
	text-shadow: 1px 1px 4px #000000;
}
.botonera-lateral a:hover {
	background: #00A45F;
	background: rgba(34,146,90,0.8);
}
.botonera-lateral a:hover span{
	display:inline-block;
	width: 150px;
	visibility: inherit;
	padding-left: 30px;
	padding-right: 30px;
}

.padding-content{
	padding-top: 30px;
	padding-bottom: 30px;
}
.decripcion-frase-home{
	text-align: center;
	text-shadow: 0 0 1px #999999;
	color: #00A45F;
	font-size: 24px; 
}
.fondo-frase-home{
	background:#EEEEEE;
	border-bottom: 1px #CCCCCC solid;
}

.cajas-home a{
	float: left;
	display: inline-block;
	width: 20%;
	height: 200px;
	background: #EEEEEE;
	position: relative;
	overflow: hidden;
	background: rgba(34,146,90,0.8) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.cajas-home a .caption{
	position: absolute;
	width: 100%;
	background: rgba(34,146,90,0.8) no-repeat center center fixed; 
	
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #000000;
	font-size: 18px;
	text-align: center;
	bottom: 0;
	left: 0;
	padding: 10px;
	height: 70px;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.cajas-home a .caption.renglon{

}
.cajas-home a .caption .mas{
	margin-top: 20px;
	display: none;
}
.cajas-home a:hover .caption{
	height: 100%;
	padding-top: 40px;
	background: rgba(255,255,255,0.7);
	color: #00A45F;
}
.cajas-home a:hover .caption .mas{
	display: block;
}
.titulo-caroucel{
	position: relative;
}
.titulo-caroucel:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 220px;
	width: 50%;
	height: 1px;
	background: #CCCCCC;
}

.titulo-caroucel h4{
	float: left;
	font-size: 25px;
	font-weight: 700;
	color: #666666;
}
.titulo-caroucel .flechas-carrousel{
	float: right;
}
.titulo-caroucel .flechas-carrousel div{
	display: inline-block;
	padding: 5px;
	font-size: 20px;
	color: #00A45F;
	cursor: pointer;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	margin-top: 5px;
}
.titulo-caroucel .flechas-carrousel div:hover{
	color: #0071BC;
	border-radius: 0.5em;
	-webkit-box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.9);
	box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.9);
}
.caja-noticia{
	margin: 5px;
	padding: 10px;
	border: 1px #CCCCCC solid;
}

.caja-noticia .imagen-noticia{
	width: 100%;
	height: 130px;
	background: #EEEEEE no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.caja-noticia h3{
	font-weight: normal;
	font-size:16px;
	margin:0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
	color: #00A45F;
	text-align: left;
}
.caja-noticia .descripcion{
	font-size:12px;
	text-align: left;
	min-height: 80px;
}
.caja-noticia .leer{
	padding: 5px;
	background: #EEEEEE;
	display: block;
	color: #00A45F;
}
.caja-noticia:hover .leer{
	color: #FFFFFF;
	background:  #00A45F;
	text-decoration: none;
}

.direccionamiento{
	display: block;
	margin-top: 20px;
	padding: 30px;
	background: url(/skins/page/images/direccionamiento.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
	min-height: 200px;
	cursor: pointer;
}
.direccionamiento:hover{
	text-decoration: none;
}

.titulo-linea{
	font-size: 25px;
	font-weight: 700;
	color: #666666;
	position: relative;
	overflow: hidden;
}
.titulo-linea:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 180px;
	width: 100%;
	height: 1px;
	background: #CCCCCC;
}

.titulo-felicitamos{
	font-size: 25px;
	font-weight: 700;
	color: #00A45F;
	position: relative;
	overflow: hidden;
	padding-top: 20px;
}
.titulo-felicitamos img{
	float: right;
	margin-top: -20px;

}

.caja-calendario{
	background: #EEEEEE;
	border: 1px #CCCCCC solid;
	padding: 20px;
	margin-top: 15px;
}
.caja-calendario .enlace-calendario{
	background: #FFFFFF;
	padding: 10px;
	display: block;
	color: #666666;
	text-align: center;
	font-weight: 700;
}
.caja-calendario .enlace-calendario img{
	max-width: 100%;
}
.caja-calendario .enlace-calendario h4{
	font-weight: 700;
}

footer{
	background: #333333;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer .titulo-sedes{
	font-size:20px;
	margin-top: 20px;
}
.enlaces-footer a{
	font-size: 12px;
	color:#FFFFFF;
	display: block;
	margin-top: 5px;
}
.fecha-calendario{
	color: #00A45F;
	font-size:16px;
	margin-bottom: 20px;
}
.caja-felicitacion{
	border-bottom: 1px #CCCCCC solid;
	margin-top: 5px;
	display: block;
	clear: both;
}
.caja-felicitacion img{
	height: 30px;
	border-radius: 20em;
}
.caja-felicitacion span{
	padding-left: 10px;
	padding-right: 10px;
	font-size:12px;
}
.persona-felicitacion{
	float: left;
}
.tarjeta-felicitacion{
	float: right;
	border:1px solid #EEEEEE;
	border-bottom: 0;
}
.tarjeta-felicitacion:hover{
	background: #FFFFFF;
	border:1px solid #CCCCCC;
	border-bottom: 0;
}

.caja-felicitacion2{
	border-bottom: 1px #CCCCCC solid;
	margin-top: 1px;
	padding: 10px;
	display: block;
	background: #EEEEEE;
	border-bottom: 1px #CCCCCC solid;
}
.caja-felicitacion2:hover{
	background: #FFFFFF;
}
.caja-felicitacion2 .foto{
	border-radius: 20em;
	height: 150px;
}
.caja-felicitacion2 .name{
	font-size:20px;
	color: #003B8B;
	 font-family: 'open_sans';
	 font-weight: 700;
}
.caja-felicitacion2 .fecha{
	font-size:20px;
	color: #00A45F;
	text-align: right;
	 font-family: 'open_sans';
	 font-weight: 700;
}
.persona-felicitacion2{
	float: left;
}
.tarjeta-felicitacion2{
	border:1px solid #EEEEEE;
	text-align: center;
	margin-top: 10px;
}
.tarjeta-felicitacion2:hover{
	background: #FFFFFF;
	border:1px solid #CCCCCC;
}


.titulo-general{
	margin-top: 60px;
	font-family: 'open_sans';
	color: #003B8B;
	border-bottom: 1px solid #CCCCCC;
	padding:10px;
	font-weight: 600;
	text-align: left;
}

.titulo-general span{
	font-size: 16px;
	color: #00A45F;
}

.titulo-general2{
	margin-top: 60px;
	font-family: 'open_sans';
	color: #003B8B;
	font-weight: 600;
	font-size: 40px;
}

.caja-nosotros{
	margin-bottom: 20px;
	text-align: right;
}
.caja-nosotros:nth-child(2n+1){
	text-align: left;
}
.caja-nosotros h3{
	font-family: 'open_sans';
	color:  #003B8B;
	font-weight: 700;
	margin: 0;
	font-size: 30px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 30px;
	padding:5px;
}

.descripcion{
	text-align: left;
	 font-family: 'open_sans';
	 font-size: 14px;
	 color: #666666;
}
.descripcion p{
	padding: 0;
	margin: 0;
}
.descripcion strong{
	text-align: left;
	 font-family: 'open_sans';
	font-weight: 700;
}
.descripcion table{
	border-color:#CCCCCC;
	font-family: 'open_sans';
	font-size: 12px;
	min-width: 300px;
}
.descripcion table td{
	padding: 5px;
}


.imagen-nosotros{
	position: relative;
	overflow: hidden;
	min-height: 120px;
	text-align: center;
}
.imagen-nosotros img{
	max-width: 100%;
}

.title-galery{
	background: #006A98;
	text-align: center;
	color:#FFFFFF;
	font-size: 40px;
	font-weight: 400;
	margin: 0;
	padding: 10px;
}
.caja_album{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	background: #FFFFFF;
	border: 0px #CCCCCC solid;
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
	cursor: pointer;
	border: 10px #FFFFFF solid;
	border-bottom: 40px #FFFFFF solid;
}
.caja_album .contenedor_album{
	width: 100%;
	height: 180px;
	overflow: hidden;
	position: relative;
	background:no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-shadow:inset 0 0 5px 2px rgba(0,0,0,0.5);
	box-shadow:inset 0 0 5px 2px rgba(0,0,0,0.5);
}
.caja_album .contenedor_album .caption_album{
	position: absolute;
	top:0;
	left: 0;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 180px;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
	font-size: 22px;
	font-weight: 700;
	color: #FFFFFF;
	padding: 40px;
	text-shadow: 1px 1px 1px #000000;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	text-align: center;
}
.caja_album:hover .contenedor_album .caption_album{
	top: 100%;
}
.caja_album .contenedor_album .caption_album .descripcion{
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	color: #FFFFFF;
}
.foto_album{
	display: inline-block;
	margin: 10px;
	width: 100%;
	height: 140px;
	background: #FFFFFF;
	/*-webkit-box-shadow: 0 0 5px 0 #CCCCCC;
	box-shadow: 0 0 5px 0 #CCCCCC;*/
	cursor: pointer;
	text-align: center;
	overflow:hidden;
}
.foto_album img{
	height: 140px;
	overflow: hidden;
	position: relative;
	background:no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-shadow:inset 0 0 5px 0px #000000;
	box-shadow:inset 0 0 5px 0px #000000;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a{
	display: block;
}
.container-fluid{
	padding: 0px;
}
.enlinea{
	display: inline-block;
	vertical-align: top;
}
.caja1{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}
.caja2{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}
.alto{
	height: 30px;
}
.alto2{
	height: 60px;
}
.alto1{
	height: 100px;
}
.subtitulo{
	text-align: left;
	 font-family: 'open_sans';
	 font-size: 30px;
	 color: #666666;
}
.subtitulo p{
	text-align: left !important;
}
.subtitulo2{
	text-align: left;
	 font-family: 'open_sans';
	 font-size: 24px;
	 color: #666666;
	 margin-left: 10px;
	 line-height: 26px;
}
.subtitulo2 p{
	text-align: left !important;
}
.divisor_verde{
	border-bottom: 2px solid #00A45F;
	width: 100px;
	margin-top: 20px;
}
.divisor_azul{
	border-bottom: 2px solid #003B8B;
	width: 100px;
	margin-top: 20px;
}
.divisor_blanco1{
	border-bottom: 2px solid #FFFFFF;
	width: 100px;
	margin-top: 20px;
}
.divisor_blanco{
	border-bottom: 1px solid #FFFFFF;
	width: 300px;
	margin-top: 10px;
	text-align:center;
	opacity: 0.7;
	margin-bottom: 30px;
}
.caja_politica{
	background: url('/skins/page/images/banner_politica.jpg');
	max-width: 1600px;
	height: 229px;
}
.titulo_blanco{
	text-align: center;
	 font-family: 'open_sans';
	 font-size: 25px;
	 color: #FFFFFF;
	 font-weight: 700;
	 padding-top: 40px;
}
.subtitulo_blanco{
	text-align: center;
	 font-family: 'open_sans';
	 font-size: 20px;
	 color: #FFFFFF;
}
.ancho_politica{
	max-width: 900px;
}
.fondo_mision{
	background: #F7F7F7;
	min-height: 200px;
}
.panel-default > .panel-heading {
	background-image: url('/skins/page/images/v.jpg');
	background-position: top right;
	background-repeat: no-repeat;
}
.caja_boton{
	width: 330px;
	height: 300px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	margin:20px;
	background: #FFFFFF url('/skins/page/images/colaboradores.jpg') center center no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
	position: relative;
	overflow: hidden;
}
.caja_boton .caption-caja{
	position: absolute;
	width: 330px;
	height: 300px;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.caja_boton .caption-caja .content-caption{
	width: 330px;
	height: 300px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 15px;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;

}

.titulo_caja,.titulo_caja:hover,.titulo_caja:focus{
	 font-family: 'open_sans';
	 font-size: 20px;
	 color:#FFFFFF;
	 margin-bottom: 5px;
	 position: relative;
	 font-weight: 700;
	 display: block;
}

.caja_boton .enlaces-caja{
	 display: none;
}
.caja_boton .enlaces-caja a{
	display: block;
	font-family: 'open_sans';
	color: #FFFFFF;
	text-align: left;
	padding: 3px;
	margin:3px;
	border-bottom: 1px solid #FFFFFF;
	border-radius: 0.5em;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
}
.caja_boton .enlaces-caja a:hover{
	color: #00A45F;
	background: #FFFFFF;
}
.caja_boton:hover .caption-caja {
  background-color:#003B8B;
}
.caja_boton:hover .boton-mas{
	display: none;
}
.caja_boton:hover .enlaces-caja{
	display: block;
}
.caja_boton:hover .subtitulo_caja{
	transition: top 0.5s ease;
	display:block;
}
.caja_boton .divisor_blanco1{
	display:none;
}
.caja_boton:hover .divisor_blanco1{
	display:block;
}

.enlaces-documentos{
	display: block;
	text-align: left;
	background:#EFEFEF;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 0.5em;
	border: 1px solid #CCCCCC;
	color: #00A45F;
	font-family: 'open_sans';
}

.enlaces-documentos:hover,.enlaces-documentos:focus{
	background:#00A45F;
	color: #FFFFFF;
	text-decoration: none;
}
.caja_boton2{
	border:#00A45F 1px solid;
	max-width: 840px;
	width: 100%;
	height: 250px;
	border-radius: 10px;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	margin:20px;
	text-align: left;
	transition: background-color 0s ease;
	transition: background-image 0.5s ease;
	background: #FFFFFF;
	background-image: url('/skins/page/images/fondo_boton.png');
	background-repeat: no-repeat;
	background-position: center;
}
.caja_boton2:hover{
  background-color: #00A45F;
  color:#FFFFFF;
  padding-top: 10px;
  background-image: none;
}
.caja_boton2:hover .titulo_caja{
	color:#FFFFFF;
	top: 10px;
	position:initial;
	transition: top 0.5s ease;
}
.caja_boton2:hover .subtitulo_caja{
	transition: top 0.5s ease;
	display:block;
}


.iframe-container {
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fondo_descarga{
	width:100%;
	position:fixed;
	top:0px;
	z-index:9999;
	background:rgba(0,0,0,0.8);
	padding: 20px;
	min-height:650px;
	height:100vh;
	cursor:pointer;
}
.x_descarga{
color:white;
font-size:25px;
position: relative;
z-index:9999;
text-align: right;
padding:0px 10px;
margin-top: -5px;
}
.x_descarga a{
	color: white;
}
.ancho100{
	width: 99% !important;
}
.margin1 input{
	width: 90%;
}
.caja_procesos1{
	background:#DEEAF6;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}
.caja_procesos1 div{
	background:#003399;
	color: white;
	padding: 10px;
	border-radius: 4px;
	width: 200px;
	height: auto;
	display: inline-block;
	vertical-align: top;
	text-align:center;
	font-size: 12px;
	font-family: 'open_sans';
}
.caja_procesos1 div a{
	color:white;
}
.caja_procesos2{
	background:#E2EFD9;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}
.caja_procesos2 div{
	background:#008000;
	color: white;
	padding: 10px;
	border-radius: 4px;
	width: 200px;
	min-height: 60px;
	display: inline-block;
	vertical-align: top;
	text-align:center;
	font-size: 12px;
	font-family: 'open_sans';
}
.caja_procesos2 div a{
	color:white;
}
.caja_procesos3{
	background:#D5DCE4;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}
.caja_procesos3 div{
	background:#2F5496;
	color: white;
	padding: 10px;
	border-radius: 4px;
	width: 200px;
	min-height: 60px;
	display: inline-block;
	vertical-align: top;
	text-align:center;
	font-size: 12px;
	font-family: 'open_sans';
	margin:5px;
}
.caja_procesos3 div a{
	color:white;
}
h4{
	color:#003B8B;
	font-size: 25px;
}
.barra1{
	font-size: 20px;
	font-family: 'open_sans';
	background: #00A45F;
	color: white;
	padding:10px;
	position: absolute;
	top: 640px;
	transform: rotate(90deg);
	left: 50%;
	margin-left: -950px;
	width: 700px;
	text-align: center;
}
.barra2{
	font-size: 20px;
	font-family: 'open_sans';
	background: #00A45F;
	color: white;
	padding:10px;
	position: absolute;
	top: 640px;
	transform: rotate(90deg);
	right: 50%;
	margin-right: -990px;
	text-align: center;
	width: 700px;
}
@media (max-width:1300px) and (min-width:0px){
	.barra1{
		display: none;
	}
	.barra2{
		display: none;
	}
}
.regresar{
	text-align:right;
	margin-top: 50px;
	margin-bottom: -70px;
}
.spin:hover{
    -webkit-animation:spin 0.3s linear;
    -moz-animation:spin 0.3s linear;
    animation:spin 0.3s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.flecha_verde{
	padding:10px;
	position: absolute;
	top: 640px;
	transform: rotate(90deg);
	right: 50%;
	margin-right: -990px;
	text-align: center;
	width: 700px;
}

.description-detail{
	margin-top: 30px;
	margin-bottom: 30px;
}
.caja_curso{
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	width: 300px;
	height: 200px;
	padding: 10px;
	background: #FFFFFF;
	border: 1px #CCCCCC solid;
	-webkit-box-shadow: 0 0 5px 0 #CCCCCC;
	box-shadow: 0 0 5px 0 #CCCCCC;
	cursor: pointer;
}

.caja_curso .contenedor_curso{
	width: 280px;
	height: 180px;
	overflow: hidden;
	position: relative;
	background:url(/skins/page/images/curso.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-shadow:inset 0 0 5px 1px #000000;
	box-shadow:inset 0 0 5px 1px #000000;
}
.caja_curso .contenedor_curso .caption_curso{
	position: absolute;
	top:0;
	left: 0;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 280px;
	height: 180px;
	background-color: rgb(0,59,139);
	background-color: rgba(0,59,139,0.8);
	font-size: 22px;
	font-weight: 700;
	color: #FFFFFF;
	padding: 40px;
	text-shadow: 1px 1px 1px #000000;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.caja_curso:hover .contenedor_curso .caption_curso{
	opacity:0;
}

.img-curso{
	max-height: 200px;
	float: left; margin-right: 10px;
}
.title-main.cursos{
	color: #003B8B;
}
.leer {
    padding: 5px;
    background: #EEEEEE;
    display: block;
    color: #00A45F;
    margin:5px;
}
.leer:hover{
	color: #FFFFFF;
	background:  #00A45F;
	text-decoration: none;
}
.caja_pregunta{
	background-color: #FFFFFF;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px #CCCCCC solid;
	border-radius: 0.5em;
}
.pregunta{
	font-weight: 700;
	font-size: 15px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
	font-family: 'open_sans';
}


.respuesta{
	clear: both;

}
.respuesta input{
	float: left;
	margin-right: 10px;
	margin-top: 8px;
	margin-left: 8px;
}
.respuesta label{
	display: block;
	font-weight: 300;
	padding: 5px;
	font-family: 'open_sans';
}
.respuesta label:hover{
	background-color: #EEEEEE;
}
.respuesta_check{
	float: left;
	margin-right: 10px;
	margin-top: 8px;
	margin-left: 8px;
}
.estado{
	padding: 10px;
	border-radius:0.5em;
	border:1px #CCCCCC solid;
	font-family: 'open_sans';
}

.fondo-gris{
	background: #EEEEEE;
}

.banner-full{
	background: url('/skins/page/images/banner_politica.jpg') center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding-top: 60px;
	padding-bottom: 60px;
}
.banner-full *{
	color: #FFFFFF;
	font-family: 'open_sans';
	text-align: center;

}
.banner-full h3{
	font-size: 30px;
	font-weight: 700;
	margin: 0;
	padding: 10px;
	margin-bottom: 40px;
	border-bottom: 1px solid #FFFFFF;
	display: inline-block;
}
.banner-full .descripcion{
	display:block;
	padding-left: 10%;
	padding-right: 10%;

	font-size: 20px;
}
.btn-acordeon{
	display: block;
	background: #EFEFEF url("/skins/page/images/flecha-abajo.png")  center right no-repeat;
	padding: 5px;
	padding-left: 15px;
	padding-right: 35px;
	font-family: 'open_sans';
	color:  #00A45F;
	margin-top:5px;
	margin-bottom: 5px;
	border-radius: 0.5em;
	text-decoration: none;

	border:1px #CCCCCC solid;
}
.btn-acordeon:hover, .btn-acordeon:focus{
	text-decoration: none;
}
.btn-acordeon[aria-expanded="true"]{
	background: #00A45F url("/skins/page/images/flecha-arriba.png") center right no-repeat;
	color: #FFFFFF;
}

.panel-acordeon{
	padding: 10px;
	border:1px #CCCCCC solid;
	border-radius: 0.5em;
}

.carousel-content .carousel-control{
	z-index: 3;
	background-color: transparent;
}
.carousel-content  .item{
	text-align: center;
}
.carousel-content  .item img{
	display: inline-block;
	max-width: 100%;
}
.contenido-general h3{
	font-family: 'open_sans';
	color: #00A45F;
	font-size: 30px;
	margin:0;
	padding:0;
	font-weight: 700;
	margin-bottom: 20px;
	border-bottom: 1px #CCCCCC solid;
}

.caja-mapa{
	position: relative;
	margin-bottom: 17px;
	margin-top: 50px;
	padding-left: 60px;
	padding-right: 60px;
}

.caja-mapa .titulo-1, .caja-mapa .titulo-2{
	text-align: center;
	font-family: 'open_sans';
	background: #00A45F;
	color: #FFFFFF;
	width: 30px;
	height: 100%;
	position: absolute;
	-ms-writing-mode: tb-rl; 
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
  	padding:6px;
  	top: 0;
  	border-radius:0.5em;
}

.titulo-3{
	text-align: center;
	font-family: 'open_sans';
	background: #00A45F;
	color: #FFFFFF;
	width: 77%;
	padding:6px;
	border-radius:0.5em;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-left: 127px;
}

.titulo-3::after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	right: 50%;
	top:130%;
	margin-top: -40px;
	border-bottom: 40px transparent solid;
	border-right: 20px solid #00A45F;
	border-top: 40px solid transparent;
	z-index: 9;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.caja-mapa .titulo-1:after ,.caja-mapa .titulo-2:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	right: 100%;
	top:50%;
	margin-top: -40px;
	border-bottom: 40px transparent solid;
	border-right: 20px solid #00A45F;
	border-top: 40px solid transparent;
	z-index: 9;
}
.caja-mapa .titulo-1{
	left: 0;
	transform: rotate(180deg);
}


.caja-mapa .titulo-2{
	right: 0;
}

.caja-mapa .titulo-3{
	top: 0;
	
}

.caja-mapa .caja-azul{
	position: relative;
	background: #CFE1FF;
	padding: 20px;
	border-radius: 1em;
	margin-bottom: 50px;
	min-height: 100px;
	text-align: center;
}
.caja-mapa .caja-azul:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	right: 50%;
	top:100%;
	margin-right: -40px;
	border-left: 40px transparent solid;
	border-top: 20px solid #CFE1FF;
	border-right: 40px solid transparent;
}
.caja-mapa .caja-verde{
	position: relative;
	background: #D2FFD9;
	padding: 20px;
	border-radius: 1em;
	min-height: 100px;
	text-align: center;

}
.caja-mapa .caja-azul2{
	position: relative;
	margin-top: 50px;
	background: #CFE1FF;
	padding: 20px;
	border-radius: 1em;
	min-height: 100px;
	text-align: center;
}

.caja-mapa .caja-azul2:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	right: 50%;
	bottom:100%;
	margin-right: -40px;
	border-left: 40px transparent solid;
	border-bottom: 20px solid #CFE1FF;
	border-right: 40px solid transparent;

}

.titulo-mapa{
	font-family: 'open_sans';
	font-size:20px;
	text-align: center;
	color: #003B8B;
	margin: 0;
	padding: 0;
	font-weight: 600;
	margin-bottom: 20px;
}

.boton-mapa{
	background: #003399;
	color:#FFFFFF;
	display: inline-block;
	width: 190px;
	padding: 5px;
	margin: 1px;
	text-align: center;
	border-radius: 0.5em;
	cursor: pointer;
}
.boton-mapa:hover, .boton-mapa:focus{
	background: #00A45F;
	color: #FFFFFF;
	text-decoration: none;
}
.boton-mapa span{
	display: table-cell;
	width: 180px;
	height: 40px;
	vertical-align: middle;
	font-size: 10px;
	font-family: 'open_sans';
}

.caja-mapa .caja-verde .boton-mapa{
	background: #00A45F;
}


.caja-mapa .caja-verde .boton-mapa:hover, .caja-mapa .caja-verde .boton-mapa:focus {
	background: #003399;
}

.caja-solicitud{
	margin-top: 30px;
	background: #EFEFEF;
	padding: 20px;
	border:1px solid #CCCCCC;
	border-radius: 0.5em;
}

/* estilos calendario */

.div_calendar{
	padding: 30px;
}
#calendar {
	font-family: 'open_sans';
	font-size:9px;
}
#calendar caption {
	text-align:center;
	padding:5px 10px;
	background-color:#00A45F;
	color:#fff;
	font-weight:bold;
	font-size: 40px;
}
#calendar th {
	background-color:#006A98;
	color:#fff;
	padding: 10px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: right;
	border: 1px #CCCCCC solid;
}

#calendar td {
	width: 14%;
	text-align:left;
	padding:2px 5px;
	background-color:#FFFFFF;
	height: 100px;
	vertical-align: top;
	border: 1px solid #CCCCCC;
}
#calendar .blanco{
	height: auto;
	padding: 0;
	background: #EEEEEE;
}
#calendar .hoy {
	background-color:#B1D5EB;
}
.calendar-left{
	float: left;
	padding: 10px;
	color: #FFFFFF;
}

.calendar-right{
	float:right;
	padding: 10px;
	color: #FFFFFF;
}
.event_calendar{
	display: block;
	font-size: 9px;
	border-top:3px solid;
	padding: 5px;
	background: #EEEEEE;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	margin-bottom: 5px;
}
.event_calendar:hover {
	border-radius: 0.5em;
	color: #FFFFFF;
	background: #00A45F;
}

.caja-dia-evento{
	padding: 10px;
	border: 1px #CCCCCC solid;
	margin-top: 30px;
	margin-right: 20px;
	background: #FFFFFF;
}
.caja-dia-evento h3{
	color: #006A98;
	font-family: 'open_sans';
	margin: 0;
	padding: 10px;
	text-align: center;
}

.dia-mes{
	font-family: 'open_sans';
	border-top: 1px solid #CCCCCC;
	padding: 10px;
	margin-right: 20px;
}
.tipos-evento{
	margin-right: 20px;
	padding-left: 20px;
	margin-top: 30px;
	font-family: 'open_sans';
	color: #006A98;
	font-size: 16px;
}
.tipos-evento span{
	padding: 10px;
	height: 30px;
	width: 30px;
	display:block;
	margin-bottom:20px;
	border-radius: 20em;
}

.description-detail{
	background: #EEEEEE;
	padding: 20px;
	border-radius: 0.5em;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.fondo_login{
	background: #EEEEEE;
}
.cajalogin{
	position: relative;
	width: 300px;
	margin:40px auto;
	background: #FFFFFF;
	padding: 0px;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
}
.cajalogin img{
	max-width: 100%;
}

.titulo_login{
	color:#006A98;
	padding: 10px;
	text-align: left;
	font-size: 25px;
	font-weight: 700;
	margin:0;
	margin-top: 20px;
	font-family: 'open_sans';
}
.titulo_login span {
	display: block;
	font-size: 14px;
	font-weight: 300;
}
.form_login{
	padding: 20px;
}
.boton_login{
	background:#0071BC;
	border-color:#0071BC;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.boton_login:hover{
	background:#00A45F;
	border-color:#00A45F;
	color: #FFFFFF;
}
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.olvido_login{
	color: #00A45F;
	display: block;
	padding: 5px;
}
.olvido_login i{
	color: #0071BC;
	font-size: 16px;
}
.olvido_login:hover{
	color: #0071BC;
}

.caja-perfil{
	background: #EEEEEE;
	padding: 20px;
	border-radius: 0.5em;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	margin-bottom: 40px;
}

.label_perfil{
	border-bottom: 1px #CCCCCC solid;
	display: block;
}
.btn-perfil{
	border: 1px #00A45F solid;
	background: #00A45F;
	color: #FFFFFF;
}
.btn-perfil:hover{
	border: 1px #00A45F solid;
	background: #FFFFFF;
	color: #00A45F;
}
.mensaje-perfil{
	color: #00A45F;
	padding: 20px;
	font-size: 20px;
}

.item-carousel{
	text-align: center;
}
.item-carousel img{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}

.carousel_inner ul li{
	vertical-align: top;
}

.image-content{
	float: left;
	max-width: 400px;
	margin: 10px;
}

.mensaje-envio{
	color: #00A45F;
	text-align: center;
	font-size: 18px;
	display: block;
	padding-bottom: 10px;
}

.caja-campania{
	position: relative;
	overflow: hidden;
	border-radius: 0.5em;
	display: block;
	height: 200px;
	background: #EEEEEE  url(/skins/page/images/campana.jpg) no-repeat center center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.caja-campania .caption-campania{
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 200px;
	position: absolute;
	padding: 20px;
	-webkit-transition: all 500ms ease-in-out;
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}
.caja-campania .caption-campania h3{
	font-family: 'open_sans';
	font-weight: 700;
	color: #FFFFFF;
	margin:0;
	padding: 0;
	margin-bottom: 20px;
}
.caja-campania .caption-campania .descripcion{
	color: #FFFFFF;
}
.caja-campania:hover .caption-campania{
	-moz-transform: scale(0);
-webkit-transform: scale(0);
-o-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
}

.tarjeta{
	width: 200px;
	height: 200px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background: #FFFFFF;
	border:1px #CCCCCC solid;
}
.tarjeta input{
	position: absolute;
	top: 5px;
	left: 10px;
}
.tarjeta label{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 200px;
	height: 200px;
}
.tarjeta label img{
	max-width: 100%;
	max-height: 100%;
}
.fecha-felicitacion{
	color:#003B8B;
	text-align: right;
	font-size: 25px;
	font-weight: 700;
	margin:0;
	font-family: 'open_sans';
	border-bottom: 1px  solid #CCCCCC;
}

.titulo-tarjeta{
	color:#003B8B;
	text-align: left;
	font-size: 18px;
	font-weight: 700;
	margin:0;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'open_sans';
}

.cajaBuscador{
	background: #EEEEEE;
	border:1px solid #CCCCCC;
	border-radius:0.5em;
	padding: 10px;
}

.titulo-buscador{
	background: #003B8B;
	color: #FFFFFF;
	padding: 10px;
	margin: 0;
}
.subtitulo-buscador{
	background: #666666;
	color: #FFFFFF;
	padding: 10px;
	margin: 0;
	font-size: 20px;
	font-weight: 300;
}
.enlace-busqueda{
	display: block;
	background: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	padding: 10px;
	font-family: 'open_sans';
	color: #003B8B;
}
.enlace-busqueda:hover{
	background: #FFFFFF;
	color:#00a45f;
	text-decoration: none;
}
.mensaje-busqueda{
	background: #EEEEEE;
	padding: 40px;
	font-family: 'open_sans';
	color: #003B8B;
	font-size: 25px;
	font-weight: 300;
	text-align: center;
	border:1px solid #CCCCCC;
	border-radius:0.5em;
}

.relojfijo{
	position: fixed;
	bottom: 0px;
	right: 0;
	padding: 20px;
	z-index: 10;
	background: #FF0000;
	font-size: 15px;
	font-family: 'open_sans';
	color: #FFFFFF;
	text-align: center;
}
#alarma{
	position: fixed;
	bottom: 110px;
	right: 10px;
	z-index: 11;
	display: none;
	color: #003B8B;
	font-size: 14px;
}
.relojfijo div{
	font-size: 30px;
}

.btn-azul{
	background: #003B8B;
	color: #FFFFFF;

}
.btn-azul:hover{
	text-decoration: none;
	color: #FFFFFF;
	background: #00A45F;
}

.btn-consejeros{
	background: #003B8B;
	color: #FFFFFF;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: -15px;
	padding: 3px;
	font-size: 12px;
	font-weight: 300;
	padding-right: 20px;
	padding-left: 20px;
	border-radius:  0 0 0.5em 0.5em;
}

.btn-consejeros:hover{
	text-decoration: none;
	color: #FFFFFF;
	background: #00A45F;
}

@media (max-width:1200px) and (min-width:0px){
	header nav ul li a{
		font-size: 14px;
		padding: 5px;
		min-width: 50px;
	}
	.cajas-home a .caption{
		font-size: 14px;
	}
	.caja-calendario .enlace-calendario h4{
		font-size: 20px;
	}
	.titulo-caroucel:after{
		width: 45%;
	}
}
@media (max-width:1100px) and (min-width:0px){
	.cajas-home a{
		width: 33.333333%;
	}
	.cajas-home a:nth-child(4),.cajas-home a:nth-child(5){
		width: 50%;
	}
	.cajas-home a .caption{
		font-size: 18px;
	}
	
}
@media (max-width:1000px) and (min-width:0px){
	header{
		height: 100px;
		border-top: 0;
	}
	.main-content{
		margin-top: 100px;
	}
	.nav-responsive{
		position: fixed;
		width: 200px;
		height: 100%;
		overflow: auto;
		z-index: 99;
		background: #00A45F;
		top:0;
		right: 0;
		border-left: 3px solid  #00A45F;
		padding:0;
		display: none;
	}
	header .perfil{
		display: block;
		height: auto;
		text-align: left;
	}
	.perfil a{
		display: block;
		padding: 5px;
		text-align: center;
		border-bottom: 1px solid #CCCCCC;
	}
	.perfil .foto-header{
		height: auto;
		width: 50px;
	}
	.perfil a span{
		display: inline-block;
		width: 120px;
		vertical-align: middle;
		color: #FFFFFF;
	}
	header nav ul ,	header nav ul li{
		display: block;
	}
	header nav ul li a{
		display: block;
		margin:0;
		margin-top: 2px;
		border-bottom: 1px solid #CCCCCC;
		border-radius: 0;
	}
	header nav ul li.oculto{
		display: block;
	}
	.btn-consejeros{
		display: none;
	}
	.cerrar-menu{
		display: block;
	}
	.abrir-menu{
		display: block;
	}
	.botonera-lateral a img{
		margin: 0;
	}
}
@media (max-width:768px) and (min-width:0px){
	header{
		height: 70px;
		border-top: 0;
	}
	header .logo{
		max-height: 60px;
	}
	.main-content{
		margin-top: 70px;
	}
	.abrir-menu{
		display: block;
		padding: 10px;
		padding-top: 20px;
	}
	#carousel-example-generic{
		display: none;
	}
	.botonera-lateral{
		position: relative;
		width: 100%;
		display: inline-block;
	}
	.botonera-lateral a{
		float: left;
		display: table-cell;
		vertical-align: middle;
		top: 0;
		padding: 10px;
		height: auto;
		min-height: 120px;
		width: 25%;
		text-align: center;
	}
	.botonera-lateral a span{
		display:block;
		width: auto;
		visibility:visible;
		border:0;
		text-align: center;
	}
	.botonera-lateral br{
		display: none;
	}
	.caja-mapa{
		margin-left: -20px;
		padding-left: 70px;
	}
}
@media (max-width:500px) and (min-width:0px){
	.botonera-lateral a{
		width: 50%;
	}
	.cajas-home a{
		width: 100%;
	}
	.cajas-home a:nth-child(4),.cajas-home a:nth-child(5){
		width: 100%;
	}
	.caja_boton{
		margin: 0;
		margin-bottom: 5px;
	}
	.caja_boton, .caja_boton .caption-caja ,.caja_boton .caption-caja .content-caption{
		width: 100%;
	}
}

.certificado_nombre{
	font-size: 40px;
	color:#26A369;
	position: absolute;
	top: 590px;
	left: 50%;
	margin-left: -200px;
	font-family: 'open_sans';
	font-weight: bold;
}

.certificado_documento{
	font-size: 20px;
	color:#2B397D;
	position: absolute;
	top: 670px;
	left: 50%;
	margin-left: 120px;
	font-family: 'open_sans';
	font-weight: bold;
}

.certificado_dia{
	font-size: 20px;
	color:#2B397D;
	position: absolute;
	top: 812px;
	left: 50%;
	margin-left: 135px;
	font-family: 'open_sans';
	font-weight: bold;
}

.certificado_mes{
	font-size: 20px;
	color:#2B397D;
	position: absolute;
	top: 812px;
	left: 50%;
	margin-left: 225px;
	font-family: 'open_sans';
	font-weight: bold;
}

.certificado_anio{
	font-size: 20px;
	color:#2B397D;
	position: absolute;
	top: 812px;
	left: 50%;
	margin-left: 305px;
	font-family: 'open_sans';
	font-weight: bold;
}
.tabla{
	font-size: 12px;
	font-family: 'open_sans';
	width: 100%;
}
.tabla a{
	display: block;
	max-width: 250px;
	word-wrap: break-word;
	color: #666666;
}
.tabla, .tabla td{
	padding: 4px;
	border-collapse: collapse;
	border: 1px solid #2B397D;
}

.tabla_th {
	background:#26A369;
	color: white;
	font-weight: 300;
}

.image_content{
	float: left;
	max-width:40%;
	margin-right: 10px;
}

.pregunta img{
	height: 200px;
	width: inherit;
}
.pregunta iframe{
	width: 100%;
}

.fondo_cursos{
	background-image:url("/corte/fondo.png");
}

#personaje1 img{
	max-width: 180px;
	margin-top: 50px;
	position: relative;
	z-index: 1;
}


#piso{
	z-index: 0;
	position: relative;
	margin-top: -100px;
	width: 100%;
	line-height: 108px;
	background:url("/corte/piso.png");
	font-size: 28px;
	font-family: 'open_sans';
	color: #FFFFFF;
	text-shadow: 3px 2px 4px ##00663D;
	padding-top: 5px;
}

.conoce_modulos{
	margin-left: 250px;
}

.globo_verde{
	position: relative;
	z-index: 1;
	font-size: 35px;
	font-family: 'open_sans';
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 3px 2px 4px #00663D;
	width: 300px;
	border-radius:20px;
	border-bottom-right-radius: 0px;
	margin-top: 60px;
	padding:20px;
	background: #008f4e; /* Old browsers */
	background: -moz-linear-gradient(left, #008f4e 0%, #007951 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #008f4e 0%,#007951 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #008f4e 0%,#007951 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008f4e', endColorstr='#007951',GradientType=1 ); /* IE6-9 */
}

.globo_verde2{
	position: relative;
	z-index: 1;
	font-size: 14px;
	font-family: 'open_sans';
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 3px 2px 4px #00663D;
	border-radius:20px;
	border-bottom-right-radius: 0px;
	margin-top: 20px;
	margin-left: 20px;
	padding:10px 20px;
	background: #008f4e; /* Old browsers */
	background: -moz-linear-gradient(left, #008f4e 0%, #007951 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #008f4e 0%,#007951 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #008f4e 0%,#007951 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008f4e', endColorstr='#007951',GradientType=1 ); /* IE6-9 */
}

.globo_frase{
	position: relative;
	z-index: 1;
	font-size: 14px;
	font-family: 'open_sans';
	font-weight: normal;
	color: #FFFFFF;
	background: #00663D;
	text-shadow: 3px 2px 4px #00663D;
	border-radius:20px;
	border-bottom-right-radius: 0px;
	margin-top: 20px;
	margin-left: 20px;
	padding:10px 20px;
}

.pregunta_tipo{
	color: #008f4e;
	font-size:12px;
	text-align: right;
}


.globo_azul{
	position: relative;
	z-index: 1;
	font-size: 15px;
	font-family: 'open_sans';
	color: #FFFFFF;
	text-shadow: 3px 2px 4px #00663D;
	border-radius:20px;
	margin-top: 60px;
	padding:20px;
	border-bottom-right-radius: 0px;
	background: #0573B6; /* Old browsers */
	background: -moz-linear-gradient(left, #0573B6 0%, #003377 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #0573B6 0%,#003377 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #0573B6 0%,#003377 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0573B6', endColorstr='#003377',GradientType=1 ); /* IE6-9 */
}

.enlinea{
	display: inline-block;
}

.globo{
	margin-right: -20px;
	margin-top: 50px;
}

.subtitulo_curso{
	font-size: 14px;
	font-weight: normal;
}

.caja_azul_modulo{
background: #006fb3; /* Old browsers */
background: -moz-linear-gradient(left, #006fb3 0%, #014682 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #006fb3 0%,#014682 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #006fb3 0%,#014682 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006fb3', endColorstr='#014682',GradientType=1 ); /* IE6-9 */
color: #FFFFFF;
font-size: 14px;
font-family: 'open_sans';
padding: 10px;
min-height: 70px;
border-radius: 8px;
}

.flecha_verde2{
	float: right;
}

.caja_azul_modulo a, .caja_azul_modulo a:hover{
	color: #FFFFFF;
	text-decoration: none;
}

.sin_linea{
	text-decoration: none !important;
}

.margen_abajo{
	margin-bottom: 30px;
}
.margen_arriba{
	margin-top: 30px;
}

.fila_modulos{
	margin-bottom: 50px;
	margin-top: 50px;
}

.titulo_modulos{
	color: #0086BF;
	font-size: 20px;
	font-family: 'open_sans';
}

.titulo_modulo{
	font-weight: bold;
	font-size: 16px;
}


.titulo_azul{
	color: #0672B4;
	font-size: 30px;
	font-family: 'open_sans';
	margin-top: 70px;
	position: relative;
	z-index: 1;
	font-weight: bold;
}

.titulo_secciones{
	color: #0873B4;
	font-size: 40px;
	font-family: 'open_sans';
	margin-top: 10px;
	position: relative;
	z-index: 1;
	font-weight: 500;
	text-shadow: 3px 2px 1px #D8D7DA;
}

.margen_regresar{
	margin-top: 70px;
}

#piso2{
	z-index: 0;
	position: relative;
	margin-top: -70px;
	width: 100%;
	line-height: 80px;
	font-size: 35px;
	font-family: 'open_sans';
	color: #FFFFFF;
	text-shadow: 3px 2px 4px #00663D;
	padding-top: 5px;
	background: #00984e; /* Old browsers */
	background: -moz-linear-gradient(left, #00984e 0%, #007d51 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #00984e 0%,#007d51 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #00984e 0%,#007d51 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00984e', endColorstr='#007d51',GradientType=1 ); /* IE6-9 */
}

.fondo_verde{
	background: #00984e; /* Old browsers */
	background: -moz-linear-gradient(left, #00984e 0%, #007d51 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #00984e 0%,#007d51 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #00984e 0%,#007d51 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00984e', endColorstr='#007d51',GradientType=1 ); /* IE6-9 */
	line-height: 60px;
}

.titulo_formacion{
	font-size: 35px;
	font-family: 'open_sans';
	color: #FFFFFF;
	margin-top: 50px;
	line-height: 80px;
}

.fondo_azul{
background: #006fb3; /* Old browsers */
background: -moz-linear-gradient(left, #006fb3 0%, #014682 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #006fb3 0%,#014682 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #006fb3 0%,#014682 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006fb3', endColorstr='#014682',GradientType=1 ); /* IE6-9 */
	line-height: 60px;
}

#personaje2 img{
	max-width: 110px;
	margin-top: 40px;
	position: relative;
	z-index: 1;
}

#personaje3{
	position: relative;
	z-index: 1;
	margin-top: -90px;
}

#piso3{
	position: relative;
	z-index: 0;
	width: 100%;
	height: 80px;
	font-size: 35px;
	margin-top: -50px;
	font-family: 'open_sans';
	color: #FFFFFF;
	text-shadow: 3px 2px 4px #00663D;
	padding-top: 5px;
	background: #006fb3; /* Old browsers */
	background: -moz-linear-gradient(left, #006fb3 0%, #014682 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #006fb3 0%,#014682 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #006fb3 0%,#014682 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006fb3', endColorstr='#014682',GradientType=1 ); /* IE6-9 */
}

.oculto{
	display: none;
}

.alto80{
	line-height: 80px;
}

.resultado{
	font-size: 20px;
}

.imagen4 img{
	max-width: 180px;
}

.flecha_azul{
	margin-top: 80px;
	margin-right: -20px;
}

.descarga_certificado{
	position: relative;
	z-index: 0;
	margin-top: -50px;
}

.descarga_certificado2{
	position: relative;
	z-index: 0;
	margin-top: -60px;
}

.pos_imagen4{
	position: relative;
	z-index: 1;
	margin-top: 50px;
}

.certificado{
	margin-bottom: 80px;
	-webkit-box-shadow: 0px 0px 8px 4px rgba(236,236,236,1);
	-moz-box-shadow: 0px 0px 8px 4px rgba(236,236,236,1);
	box-shadow: 0px 0px 8px 4px rgba(236,236,236,1);
}

.caja_curso2{
	color: #FFFFFF;
	border:4px solid #FFFFFF;
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	padding: 5px 10px;
	cursor: pointer;
	border-radius:10px;
	font-size: 20px;
	background: #00984e; /* Old browsers */
	background: -moz-linear-gradient(left, #00984e 0%, #007d51 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #00984e 0%,#007d51 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #00984e 0%,#007d51 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00984e', endColorstr='#007d51',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: 0px 0px 8px 4px rgba(236,236,236,1);
	-moz-box-shadow: 0px 0px 8px 4px rgba(236,236,236,1);
	box-shadow: 0px 0px 8px 4px rgba(236,236,236,1);
}

.caja_curso2 a, .caja_curso2 a:hover, .caja_curso2{
	color: #FFFFFF !important;
	text-decoration: none !important;
}

.z1{
	position: relative;
	z-index: 1;
}

.pos_fondo1{
	margin-top: -40px; position: relative; z-index: 0;
}

.separador{
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 2px;
	margin-top: 2px;
}

.pointer{
	cursor: pointer;
}

.texto_curso{
	font-size: 13px;
}

@media (max-width: 500px) {
	.fondo_azul{
		background: none;
	}
	.flecha_azul{
		display: none;
	}
	#piso2{
		line-height: normal;
	}
}